body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sh{
   font-size: 50px;
}
input{
  width:274px;
  height: 38px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin-left: 45px;
  border-radius: 13px;
  font-size: 20px;
  padding-left: 20px;
}
.container
{
    border: 1px solid black;
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding-bottom: 15px;
    font-family: sans-serif;
    margin-top: 30px;
    border-radius: 12px;
    background-color: rgb(239,237,237);
   }
.Todo{
  border: 1px solid grey;
  width: 75%;
  height: 60px;
  margin: auto;
  gap:6px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgb(214,226,236)
}
.Input{
  border: 1px solid black;
  width: 36%;
  height: 140px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 14px;
  background-color: rgb(223,70,34);
}
.Body{
     width: 100%;
     height: 1005px;
     border: 1px solid black;
     background-color: rgb(54,153,149);
}